.headerContainer {
    text-align: center;
    background: #7f8c8d;
    color: white;
    padding: 80px 0;
}

.nav {
    background: #95a5a6;
    color: white;
    padding: 20px;
    width: 100vw;
    height: 80px;
}
